/* ordem de força: id > class > tag */
p {
    color: green;
    font-size: 30px;
    background-color: antiquewhite;
    text-decoration: underline;
    text-transform:uppercase;
    letter-spacing: 10px;
    font-style: italic;
    font-weight: 900;
}

#identidade{
    color: blue;
    background-color: rgb(42, 165, 155);
    text-decoration: solid;
                     
}
 .paragraph {
    color: rgb(88, 194, 255);
    background-color:black;
    font-size: 20px;
 }

.colorname{
    color:rgba(146, 50, 50, 0.486);
    background-color: #05f79a;
    border-color: hsl(300, 39%, 66%); 
}
/* hsl(hue, sat, lig) */
.bg-image{
    background-image: url("../img/images.jpeg");
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
}
.heigh-width {
    height: 200px;
    width: 100px;
    background-color: #71771a;
    color:rgb(255, 255, 255);
    padding: 20px;
}
.heigh-width-2{
    height: 300px;
    background-color: blue;
    color: white;
    padding: 10px 20px;
}
/* padding: 10px 20px; = padding: 10px 20px 10px 20px; Top rightm botton left*/

.without-border-box {
    background-color: rgb(67, 36, 109);
    color: black;
    width: 500px;
    padding: 10px;
}
.border-box {
    background-color: rgb(172, 94, 0);
    color: black;
    width: 500px;
    padding: 10px;
    box-sizing: border-box;
}

.inline-box {
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    margin: 10px;
    display: inline-block;
}
.block {
    background-color: gray;
    display: block;
    margin: 10px;
}

.fixed {
    height: 100px;
    width: 100px;
    background-color: #ff00ff;
    position: fixed;
    top: 50px;
    right: 100px;
}
.sticky {
    height: 100px;
    width: 100px;
    background-color: #33ff00;
    position: sticky;
    top: 100px;
}