html {
    font-family: Helvatica;
    background-color: #ddd;
}

.container {
    max-width: 1100px;
    background-color: rgb(124, 156, 106);
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/* header */
.header {
    text-align: center;
}

.main-title {
    font-style: italic;
}

/* Imagem destaque */
.featured-image {
    text-align: center;
    margin-top: 30px;

}

/* Biografia */
.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

/* citação */
.quotes-container {
    background-color: #ddd;
    padding: 30px;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {
    font-style: italic;
}

/* curiosidades */
.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li{
    height: 30px;
}

/* imagem bold */
.img-bold{
    font-weight: bold;
    text-align: center;
}
